body {
    background-color: #dddcdc;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
    padding: 10px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2em;
    background-color: #53453b;
    color: white;
    font-weight: bold;
    
}

table {
    margin-top: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 240px;
}
.nav-bar {
    display: inline-block;
    vertical-align: top;
}

.table-data {
    width: 17%;
    vertical-align: top;
    display: inline-block;
}

td, th{
    border: 1px solid #2e2f2d;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #2e2f2d;
    color: white;
}
  
tr:nth-child(even) {
    background-color: #fafafa;
}
tr:nth-child(odd
) {
    background-color: #d6cec5;
}

.body-main {
    padding: 0px 20px 20px 0px;
    margin: 10px 10px;
}

.body-content {
    width: 80%;
    vertical-align: top;
    display: inline-block;
}

.title-section {
    background-image: url("cat.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-section-group {
    display: flex;
}

.sub-section {
    border-radius: 10px;
    background-color: rgb(168, 168, 168);
    padding: 0px 10px 10px 10px;
    margin: 5px;
    width: 100%;
}

.sub-section-header {
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: #53453b;
    font-weight: bold;
}

.sub-section-img {
    width: 60%;
}